html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* Additional styling for main content */
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
}

.navbox{
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  background-color: grey;
}

fieldset{
  margin: 2em auto;
  width: 30%;
  height: 100%;
  border-radius: 5px;
  box-shadow:1px 2px 3px 4px rgba(20,20,20,0.4);
  min-height: 300px;
  margin-bottom: 20px;
}

h2{
  text-align: center;
  color: white;
}


.label{
  margin-top: 20px;
  
}

form {
  margin: 0 auto;
  padding-bottom: 2em;
}

legend{
  padding: 1rem 0;
  font-weight: bold;
  color: white;
}

label {
  display: block;
  margin: 0.5rem 0;
  font-weight: bold;
  color: white;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}


input[type="text"], input[type="number"], input[type="email"], input[type="password"]{
  border-radius: 5px;
  border: none;
  background-color: #FFE4D4;
  color: white;
  width: 100%
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #A9A9A9;
}

select{
  background-color: #FFE4D4 ;
  color:black ;
  border-radius: 5px;
  border: none;
}

.submitButton:focus{
  background-color:#FFD1A1;
}

.submitButton{
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #FF6B00;
  min-width: 300px;
  border-radius: 10px;
  color: #003366;
  font-weight: bold;
  border: none;
 /* changes background color to grey if it is disabled */
  &:disabled {
    background-color: grey;}
  
}

sup{
  color: red;
  font-weight: bold;
}



.orange-link{
  color: #FF6B00;
}

.logo{
  margin-left: 10px;
}

.login-container, .register-container {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
